body{
    background-color: #cdd8cf;
    /* text-align: center; */
    /* padding: 200px; */
}

div{
    text-align: center;
    height: 200px;
    width: 400px;
    border-radius: 15px;
    margin-left: 450px;
    margin-top: 200px;
    border: 1px solid black;
}